<h1>📩 Contacto</h1>

<form method="POST" action="/contacto">
  <input type="text" name="nombre" placeholder="Tu nombre" required>
  <input type="email" name="email" placeholder="Tu email" required>
  <textarea name="mensaje" placeholder="Mensaje"></textarea>
  <button type="submit">Enviar</button>
</form>

<a href="/">⬅ Volver</a>