<h1>✏️ Editar piloto</h1>

<form method="POST" action="/pilotos/editar/{{piloto.id}}">
  <input
    type="text"
    name="nombre"
    value="{{piloto.nombre}}"
    required
  >

  <input
    type="text"
    name="equipo"
    value="{{piloto.equipo}}"
    required
  >

  <button type="submit">Guardar cambios</button>
</form>

<a href="/pilotos">⬅ Volver</a>